@import '../../styles/globalColors';
@keyframes changeLogo {

  0%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: 0;

  }
  90%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}




.logoPicture{

  position: absolute;
  width: 100%;
  height: auto;

}

.logoPicture2{

  position: absolute;
  z-index: 2;
  animation: changeLogo ease-in-out 5s infinite;
  width: 100%;
  height: auto;


}

.logoPictureWrapper{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 5em 0;
}

.wrapper{
  display: flex;
  color: #111126;
  min-height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;




}

.heroPicWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: relative;
  margin-top: 3em;


}



.lightPicture{
  opacity: 0;
  height: 100%;
  width: auto;
  position: absolute;


  z-index: 1;
  -webkit-animation:  active-screen 5s infinite;
  -moz-animation:     active-screen 5s infinite;
  -o-animation:      active-screen 5s infinite;
  animation: active-screen 5s infinite;



}

.programmerPicture{
  width: auto;
  height: 100%;
  position: absolute;





}


a{
  color: inherit;
}

.scrollDown{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  background: white;
  z-index: 50;
  left: 50%;

  transform: translateX(-50%);
  text-decoration: none;
  color: $dark-blue;

  i{
    margin-left: 5px;
  }
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border: solid 3px transparent;

  &:hover{

    color: white;
    background: $pink;
    border-bottom:  solid white 3px;
    border-radius: 5px;
  }
}

@keyframes active-screen {

  0%{
    opacity: 0.7;
  }
  10%{
    opacity: 0.5;
  }
  20%{
    opacity: 0.7;
  }
  30%{
    opacity: 0.3;
  }
  40%{
    opacity: 0.5;
  }

50{
  opacity: 0;
}
60%{
  opacity: 0.4;
}
70%{
  opacity: 0.5;
}
80%{
  opacity: 0.2;
}
90%{
  opacity: 0;
}
100%{
   opacity: 0.5;
}
}

.headerWrapper{
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex: auto;
  flex-direction: column;
  align-items: center;

  h4{
  font-weight: 400;
    font-size: 1.1rem;
    margin: 0.3em 0;
    padding: 0 0.5em;

  }



  h1{
    margin: 0.3em 0;
    font-family: inherit;
    text-align: center;
    padding: 0 0.5em;
    max-width: 1200px;
    font-weight: 600;
  }
}
@media screen and (max-width: 1200px) {

  .heroPicWrapper{
    height: 300px;
    width: auto;
  }


}

@media screen and (max-width: 380px) {

  .heroPicWrapper{
    height: 200px;
    width: auto;
  }

  .logoPictureWrapper{
    margin-top: 0.5em;
    width: 250px;
  }


}