@import '../../../src/styles/globalColors';

.wrapper{
  background: $dark-blue;
  color: white;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


}