@import "src/styles/globalColors";
@keyframes rotateBlob {

  0%{
    transform: rotate(225deg) scale(0.7);;
  }

  50%{
    transform: rotate(200deg) scale(0.8);;
  }

  100%{
    transform: rotate(225deg) scale(0.7);;
  }

}



.wrapper{

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark-blue;
  color: white;
  padding: 10vh $padding;

  @media screen and (max-width: 1400px){
    padding: 1vh 5vw;
    flex-direction: column;
  }


}

.pictureWrapper {


  width:500px;
  margin-left: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;



  @media screen and(max-width: 1400px) {
    margin-bottom: 100px;
    margin-left: 0;
    width: auto;
  }

  @media screen and (max-width: 900px) {

    margin-top: 10px;

    .blob {
      width: 100vw;

    }


  }
}

.paragraphWrapper{


  transition: 0.3s;
  @media screen and (max-width: 1400px){
    width: auto;
  }
  p{
    &:nth-of-type(2){
      color: white;
      background: $pink;
      padding: 20px;
      border-radius: 10px;
    }

  }
}

.blob{
  transition: 2s;
  @media screen and (max-width: 1200px){
    transform: rotate(225deg) scale(0.7);
  }
  transform: rotate(-60deg) scale(0.7);
  z-index: 0;
  animation: rotateBlob 10s infinite;


}

.picture{
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  width: 300px;
}





.aboutResponsiveWrapper{

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  color: $dark-blue;
  padding: 35vh $padding;



  @media screen and (max-width: 1400px){
    padding: 30vh 5vw;
    flex-direction: column;

  }

  @media screen and (max-width: 550px){
    padding: 10vh 5vw;

  }


&:before{
  position: absolute;
  content: "";
  top: -5px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: url("../../../src/assets/svg/wave1.svg") top no-repeat;
  background-size: 110vw;
  z-index: 0;
}

  &:after{

    position: absolute;
    content: "";
    top: 0;
    bottom: -100px;
    z-index: -1;
    @media screen and (max-width: 800px){
      bottom: -5px;
    }
    left: 0;
    right: 0;
    background: url("../../../src/assets/svg/wave2.svg") bottom no-repeat;
    background-size: 110vw;
    ;

  }
}

.contentWrapper2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;

  @media screen and (max-width: 1400px){
    flex-direction: column;

  }



  .responsiveDescriptionRight{
    padding-left: 100px;
    transition: 0.3s;


    @media screen and (max-width:1400px){
      text-align: center;
      padding: 0;

    }

  }
}

.responsivePicture{

  width: 500px;

  @media screen and (max-width:700px) {

    width: 50vw;

  }


}

.contentWrapper3{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;


  @media screen and (max-width: 1400px) {
  flex-direction: column-reverse;
    text-align: center;


  }



  .responsiveDescriptionLeft{
    padding-right: 100px;

    @media screen and (max-width: 1400px){
      padding: 0;

    }
    transition: 0.3s;

    }
  }






