@import "src/styles/globalColors";
@keyframes rotateBlob {

  0%{
    transform: rotate(225deg) scale(0.7);;
  }

  50%{
    transform: rotate(200deg) scale(0.8);;
  }

  100%{
    transform: rotate(225deg) scale(0.7);;
  }

}

.waveTop{
  position: absolute;
  top: -30px;
  @media screen and (max-width: 1200px){
    top: -2px;
  }
  width: 100vw;
  filter: flipV();
  transform: scaleX(-1);



}

.waveBottom{
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
  bottom: -340px;
  z-index: 1;
  @media screen and (max-width: 1600px){
    bottom: -200px;
  }

  @media screen and (max-width: 1000px){
    bottom: -2px;
  }

  filter: flipV();
  transform: scaleX(-1);



}

.wrapper{

  display: flex;
  justify-content: space-around;
  align-items: center;
  background: $dark-blue;
  color: white;
  padding: 100px;

  @media screen and (max-width: 1400px){
    padding: 1vh 5vw;
    flex-direction: column;
  }


}

.pictureWrapper {

  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;



  @media screen and(max-width: 1400px) {
    margin-bottom: 100px;
  }

  @media screen and (max-width: 900px) {

    margin-top: 10px;

    .blob {
      width: 100vw;

    }


  }
}

.paragraphWrapper{
  width: 50%;
  transition: 0.3s;
  @media screen and (max-width: 1400px){
    width: auto;
  }
  p{
    &:nth-of-type(2){
      color: white;
      background: $pink;
      padding: 20px;
      border-radius: 10px;
    }

  }
}

.blob{
  transition: 2s;
  @media screen and (max-width: 1200px){
    transform: rotate(225deg) scale(0.7);
  }
  transform: rotate(-60deg) scale(0.7);
  z-index: 0;
  animation: rotateBlob 10s infinite;


}

.picture{
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  width: 300px;
}





.aboutResponsiveWrapper{

  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  color: $dark-blue;
  padding: 10vh 300px 0vh 300px;

  @media screen and (max-width: 1400px){
    padding: 10vh 5vw;
    flex-direction: column;

  }

}

.contentWrapper2{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;

  @media screen and (max-width: 1400px){
    flex-direction: column;

  }



  .responsiveDescriptionRight{
    padding-left: 100px;
    transition: 0.3s;


    @media screen and (max-width:1400px){
      text-align: center;
      padding: 0;

    }

  }
}

.responsivePicture{

  width: 500px;

  @media screen and (max-width:700px) {

    width: 70vw;
    margin-bottom: 100px;
  }


}

.contentWrapper3{
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;


  @media screen and (max-width: 1400px) {
  flex-direction: column-reverse;
    text-align: center;

  }



  .responsiveDescriptionLeft{
    padding-right: 100px;

    @media screen and (max-width: 1400px){
      padding: 0;
    }
    transition: 0.3s;

    }
  }






