@import "src/styles/globalColors";

.wrapper{
  width: 100vw;
  color: white;
  min-height: 80vh;
  position: relative;
  background: $dark-blue;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;

  @media screen and (max-width: 900px) {
    padding: 0;

  }

}

.contentWrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 1400px;


  transition: 0.3s;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.pictureWrapper{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;


  @media screen and(max-width:1600px) {
    margin-bottom: 60px;
  }

  @media screen and (max-width:900px){

    margin-top: 10px;

    .blob{
      width: 100vw;

    }



  }

}

.aboutMeParagraph{
  line-height: 1.5;
  position: relative;
  max-width: 1200px;
  transition: 0.3s;
  z-index: 0;


@media screen and (max-width: 1200px){

  width: 90vw;
}
  h1{
    margin-top: 3em;
    font-family: Oxanium;
    font-size: 1.6em;

    @media screen and (max-width: 650px){
      margin-top: 2em;
    }

  }

  p{

    &:nth-of-type(1) {
      background: $pink;
      color: white;
      padding: 15px;
      border-radius: 10px;
    }
    strong{
      font-weight: 600;

    }
    font-size: 21px;

    @media screen and (max-width: 700px){
      font-size: 1em;

    }
  }
}

@keyframes rotateBlob {

  0%{
    transform: rotate(225deg) scale(0.7);;
  }

  50%{
    transform: rotate(200deg) scale(0.8);;
  }

  100%{
    transform: rotate(225deg) scale(0.7);;
  }

}


.blob{
  transition: 2s;
  @media screen and (max-width: 1200px){
    transform: rotate(225deg) scale(0.7);
  }
  transform: rotate(-60deg) scale(0.7);
  z-index: 0;
  animation: rotateBlob 10s infinite;


}

.picture{
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  width: 300px;


}

.aboutResponsiveWrapper{
  position: relative;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 100px;


}



.wave{
  position: absolute;
  top: -30px;
  @media screen and (max-width: 1200px){
    top: -2px;
  }
  width: 110vw;
  filter: flipV();
  transform: scaleX(-1);


}

.contentWrapper2{
  @media screen and (max-width:900px){
  margin-top: 20px;
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
 max-width: 1400px;

  @media screen and (max-width: 1200px) {
    flex-direction: column-reverse;
    margin-top: 100px;
  }

}

.responsivePicture{
  width: 500px;

  @media screen and (max-width:900px) {
    width: 80vw;
    margin-bottom: 100px;
  }


}

.responsiveDescription{
  padding-left: 100px;

  @media screen and (max-width:900px) {
    margin-bottom: 10px;
  }

  @media screen and (max-width:1200px){
  padding: 0;
    margin-bottom: 100px;

  }

  position: relative;
  max-width: 1200px;
  transition: 0.3s;
  z-index: 0;


  @media screen and (max-width: 1200px){

    width: 90vw;
  }
  h1{

    margin-top: 3em;
    font-family: Oxanium;
    font-size: 1.6em;


    @media screen and (max-width: 650px){
      margin-top: 2em;
    }

  }

  p{


    strong{

      font-weight: 600;
    }
    font-size: 21px;

    @media screen and (max-width: 700px){
      font-size: 1em;

    }
  }
}


