@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,600,700,800|Oxanium:200,300,400,500,600,700,800&display=swap&subset=latin-ext');



html{
    font-family: 'Baloo 2';
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    height: auto;
    margin: 0;
    padding: 0;

    #root{
        height: auto;
        overflow-y: scroll;
        position: relative;
        z-index: 999;
    }
}

