@import "../../../src/styles/globalColors";

.mySkills{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  img{
    width: 100px;
    margin-right: 2em;

  }
}
.wrapper{



  padding: 5em 0;

  :before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(0deg, rgba(17,17,38,1) 0%, rgba(17,17,38,0.5) 100%);

  }

  :after{
    content: "";
    background: url("https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -2;

  }

  position: relative;
  min-height: 60vh;

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;




}

h2 {
  position: absolute;
  top: -40px;
  height: 40px;
  font-size: 1.3rem;
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $mint;
  color: white;
  border-radius: 5px;
  border-top: solid 3px white;
  @include lightShadow;

  @media screen and (max-width: 1000px){
    font-size: 1.1rem;
  }

}

h3{

  text-shadow: 0 0 30px $mint, 10px 10px 400px rgba(206,89,55,0.05);
  font-size: 1.2rem;
  color: $mint;
}

.wrapperInside{
  margin: 1em 0;
  display: flex;
  justify-content: center;
align-items: center;
  color: white;
 height: auto;

  @media screen and (max-width: 1200px){
    flex-direction: column;
    width: 90vw;
  }
}

.designerWrapper{
  *{
    max-width: 400px;
  }

  h2{
    text-shadow: 0 0 30px $pink, 10px 10px 400px rgba(206,89,55,0.05);
    background: $pink;
  }

  h3{
    text-shadow: 0 0 30px $pink, 10px 10px 400px rgba(206,89,55,0.05);

    color: $pink;
  }

  border-bottom: $pink solid 15px !important;
}

.developerWrapper{

  *{
    max-width: 400px;
  }
}

.developerWrapper, .designerWrapper, .humanWrapper{
  text-align: center;
  @include lightShadow;
  position: relative;
  display: flex;

  color: white;
  height: auto;
  width: 33%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin: 2em 1em;
  padding: 5em 1em;


  @media screen and (max-width: 1300px){
    width: 95%;
    margin: 3em 0;


  }

  border-bottom: $mint solid 15px;




}



.whatIUse{
  width:  100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;

  ul{
    list-style: none;
    padding: 0;
    font-weight: 700;
  }

  @media screen and (max-width: 900px){
    height:auto;
  }


}

.whatIUseDesign{


  width: 80%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  ul{
    list-style: none;
    padding: 0;
    font-weight: 600;
  }

@media screen and (max-width: 900px){
  height:auto;
}


}

.adobe{
  display: inline;
  width: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin-bottom: 0px;

  b{
    font-weight: 600;
  }

  @media screen and (max-width: 900px){
    text-align: center;
    flex-direction: column-reverse;
  }



}

.humanWrapper{

  *{
    max-width: 400px;
  }

  h2{
    text-shadow: 0 0 30px $dark-blue, 10px 10px 400px rgba(206,89,55,0.05);
    background: white;
    color: $dark-blue;
    border-top: solid 3px $mint;
  }

  h3{
    text-shadow: 0 0 30px white, 10px 10px 400px rgba(206,89,55,0.05);

    color: white;
  }

  border-bottom: white solid 15px !important;

}